# cargo-release configuration for playa-ffmpeg
# https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md

# Run cargo test before releasing
pre-release-hook = ["cargo", "test", "--release"]

# Push to git remote
push = true

# Allow these branches for releases
allow-branch = ["dev", "master"]

# Commit message template
pre-release-commit-message = "Release {{crate_name}} version {{version}}"

# Tag name format
tag-name = "v{{version}}"
tag-message = "Release v{{version}}"

# Sign tags and commits
sign-tag = false
sign-commit = false

# Push tags
push-tags = true

# Publish to crates.io
publish = true

# Don't verify after release (cargo publish already does this)
verify = false

# Consolidate commits
consolidate-commits = true

# Post-release hook (optional)
# post-release-hook = ["echo", "Released {{crate_name}} v{{version}}!"]
